<!-- Cadastro de Carros -->
<div class="container bg-light mt-2">
    <h3>Cadastro de Carros:</h3>
    
    <form class="m-3">
        <div class="mb-3 row">
            <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" [(ngModel)]="car.name" name="name" required>
            </div>
          </div>


          <div class="mb-3 row">
            <label for="inputAutoMaker" class="col-sm-2 col-form-label">Montadora:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAutoMaker" [(ngModel)]="car.automaker" name="automaker" required>
            </div>
          </div>

          <div class="row g-3">
            <label for="inputPrice" class="col-sm-2 col-form-label">Preço:</label>
            <div class="col">
              <input type="number" class="form-control" [(ngModel)]="car.price" name="price" required>
            </div>
            <label for="inputYear" class="col-sm-2 col-form-label">Ano:</label>
            <div class="col">
              <input type="number" class="form-control" [(ngModel)]="car.year" name="year" required>
            </div>
          </div>

          <div class="row mt-1">
            <div>
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>
